<!-- Modálok komponens -->
<div class="modal" v-if="showLoginModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Admin bejelentkezés</h3>
            <button class="close-btn" @click="showLoginModal = false">✕</button>
        </div>
        
        <div class="modal-body">
            <div class="form-group">
                <label>Jelszó</label>
                <input type="password" v-model="loginPassword" class="form-input" @keyup.enter="adminLogin">
            </div>
            <div v-if="loginError" class="login-error">{{ loginError }}</div>
        </div>
        
        <div class="modal-footer">
            <button class="btn-secondary" @click="showLoginModal = false">Mégse</button>
            <button class="btn-primary" @click="adminLogin" :disabled="!loginPassword">Belépés</button>
        </div>
    </div>
</div>

<div class="modal" v-if="showConfirmModal">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{ confirmTitle }}</h3>
            <button class="close-btn" @click="showConfirmModal = false">✕</button>
        </div>
        
        <div class="modal-body">
            <p>{{ confirmMessage }}</p>
        </div>
        
        <div class="modal-footer">
            <button class="btn-secondary" @click="showConfirmModal = false">Mégse</button>
            <button class="btn-primary" @click="confirmAction">Megerősítés</button>
        </div>
    </div>
</div>
